<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Title</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Welcome!</h1>
    <p>Username: <span th:text="${username}"></span></p>
    <p>Roles:</p>
    <ul>
        <li th:each="role : ${roles}" th:text="${role.authority}"></li>
    </ul>
    <div sec:authorize="hasRole('ADMIN')">
        <p class="alert alert-info">This content is only displayed to ADMIN.</p>
    </div>
    <div sec:authorize="hasRole('USER')">
        <p class="alert alert-info">This content is only displayed to USER.</p>
    </div>
    <form th:action="@{/logout}" method="post" class="mt-3">
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
</div>
</body>
</html>
